
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: #fff;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;

}
img{
    color: #fff;
}
#main>h1 {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main>h1 span{
        margin:0 15px;
        display: flex;
        align-items: center;
}
#main>h1 span img{
    rotate: 90deg;
    height: 50px;
    transition: 0.3s ease;
}

#main>#encdec{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 8px;
    width: 20%;
    margin: 35px 0;
}
#main>#encdec h3{
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: 500;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

#encdec h3 span{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
#encryption{
    display: none;
    width: 45%;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
}
#encryption h5{
    font-size: 16px;
    font-weight: 500;
    color:#6e6e6e;
    margin-bottom: 13px;
}
#encryption textarea{
    width: 100%;
    height: 70px;
    font-size: 17px;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding:10px;
    border: 1px solid #343434;
    outline: none;
    margin-bottom: 50px;
}
#encryption input{
    width: 100%;
    font-size: 17px;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding:10px;
    border: 1px solid #343434;
    outline: none;
    margin-bottom: 50px;
}
#enc-btn{
    background-color: #222;
}
#dec-btn{
    background-color: #333;
}
#encdec>#enc-btn svg{
    background-color: #222;
}
#encdec>#dec-btn svg{
    background-color: #333;
}

#encryption button{
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    color: #6e6e6e;
    width: 100%;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
}
#encryption button span{
    margin-right: 10px;
}
#decryption{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
}
#decryption h5{
    font-size: 16px;
    font-weight: 500;
    color:#6e6e6e;
    margin-bottom: 13px;
}
#decryption textarea{
    width: 100%;
    height: 70px;
    font-size: 17px;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding:10px;
    border: 1px solid #343434;
    outline: none;
    margin-bottom: 50px;
}
#decryption input{
    width: 100%;
    font-size: 17px;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding:10px;
    border: 1px solid #343434;
    outline: none;
    margin-bottom: 50px;
}
#decryption button{
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    color: #6e6e6e;
    width: 100%;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 10px;
    cursor: pointer;
}
#decryption button span{
    margin-right: 10px;
}

#result{
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #1c1c1c;
    border: 1px solid #343434;
    width: 45%;
    display: none;
    margin-top: 40px;

}